[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda = "*"
tk = "*"
pandas = "*"
openpyxl = "*"
pywebview = "*"
pytz = "*"
tksheet = "*"
tkcalendar = "*"
pyinstaller = "*"
pygithub = "*"
ttkthemes = "*"
sv-ttk = "*"

[dev-packages]

[requires]
python_version = "3.12"
